.footer{
    --colorbg : #383838;
    --colorfg: white ;
    --height: 70px;
}

.footer{
    width: 100%;
    background: var(--colorbg);
    height: var(--height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.footer .copyright{
    color: var(--colorfg);
}