@font-face {
    font-family: 'Inspiration';
    src: url('../../font/Inspiration-Regular.ttf') format('truetype');
  }
.house-text{
    --text_color : #048F30; 
    --font : 260px;

}
@media screen and (max-width: 1200px) {
    .house-text{
        --font : 240px;
    }
  }

  @media screen and (max-width: 1000px) {
    .house-text{
        --font : 200px;
    }
  }

  @media screen and (max-width: 800px) {
    .house-text{
        --font : 160px;
    }
  }

  @media screen and (max-width: 600px) {
    .house-text{
        --font : 120px;
    }
  }

  @media screen and (max-width: 400px) {
    .house-text{
        --font : 100px;
    }
  }



  .house-text{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
  .house-text .text{
    color: var(--text_color);
    text-align: center;
    font-family: Inspiration;
    font-size: var(--font);
  }
